<%- include('partials/header'); -%>
<h1>Consulta CEP</h1>
<p>Projeto feito para pesquisar por CEP</p>
<form action="/" method="POST">
  <label for="consulta">Digite o CEP</label>
  <input
    type="text"
    name="consulta"
    id="cep"
    placeholder="Digite aqui"
    autocomplete="off"
    required
  />
  <button type="submit">Pesquisar</button>
</form>
<%- include('partials/footer'); -%>
